/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@-webkit-keyframes text-animation {
	0% {
		color: orange;
	}
	35% {
		color: yellow;
	}
	65% {
		color: lightgreen;
	}
	100% {
		color: lightblue;
	}
}

@keyframes text-animation {
	0% {
		color: orange;
	}
	35% {
		color: yellow;
	}
	65% {
		color: lightgreen;
	}
	100% {
		color: lightblue;
	}
}

body {
	background-color: rgba(110, 0, 255, 100%);
}

h2 {
	color: rgba(45, 255, 255, 100%);
}

/* MODAL STYLING */

.footer-buttons,
.switch,
.play-button,
.reset-btn,
.modal-buttons,
.how-to-button {
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(lightgreen),
		to(yellow)
	);
	background-image: -o-linear-gradient(lightgreen, yellow);
	background-image: linear-gradient(lightgreen, yellow);
}

.footer-buttons:hover,
.switch:hover,
.modal-buttons:hover,
.how-to-button:hover {
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(orange),
		to(lightblue)
	);
	background-image: -o-linear-gradient(orange, lightblue);
	background-image: linear-gradient(orange, lightblue);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
	box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
}

/* STATS STYLING */

.sound-btn,
.reset-btn,
.play-button {
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(orange),
		to(lightblue)
	);
	background-image: -o-linear-gradient(orange, lightblue);
	background-image: linear-gradient(orange, lightblue);
}

.sound-btn:hover,
.reset-btn:hover,
.play-button:hover {
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(lightgreen),
		to(yellow)
	);
	background-image: -o-linear-gradient(lightgreen, yellow);
	background-image: linear-gradient(lightgreen, yellow);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
	box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
}
/* GAME BOARD STYLING */

.red-button {
	background-color: rgba(255, 164, 0, 0.7);
	border-top-left-radius: 60%;
}
.green-button {
	background-color: rgba(0, 230, 14, 0.7);
	border-top-right-radius: 60%;
}
.yellow-button {
	background-color: rgba(255, 255, 90, 0.7);
	border-bottom-left-radius: 60%;
}
.blue-button {
	background-color: rgba(0, 200, 255, 0.7);
	border-bottom-right-radius: 60%;
}

/* Adding glow effect to buttons to 'light up' */
/* https://superdevresources.com/css-button-glow-effect// */
.red-button-glow {
	background-color: rgba(255, 164, 0, 1);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(254, 25, 25, 0.8);
	box-shadow: 0px 10px 30px 0px rgba(254, 25, 25, 0.8);
}
.green-button-glow {
	background-color: rgba(0, 230, 14, 1);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(0, 191, 14, 0.8);
	box-shadow: 0px 10px 30px 0px rgba(0, 191, 14, 0.8);
}
.yellow-button-glow {
	background-color: rgba(255, 255, 90, 1);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(255, 250, 90, 0.8);
	box-shadow: 0px 10px 30px 0px rgba(255, 250, 90, 0.8);
}
.blue-button-glow {
	background-color: rgba(0, 200, 255, 1);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(0, 152, 255, 0.8);
	box-shadow: 0px 10px 30px 0px rgba(0, 152, 255, 0.8);
}
