/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@-webkit-keyframes text-animation {
	0% {
		color: whitesmoke;
	}
	35% {
		color: white;
	}
	65% {
		color: black;
	}
	100% {
		color: black;
	}
}

@keyframes text-animation {
	0% {
		color: whitesmoke;
	}
	35% {
		color: white;
	}
	65% {
		color: black;
	}
	100% {
		color: black;
	}
}

body {
	background-color: black;
}

h2 {
	font-family: "Righteous", cursive;
	text-shadow: 2px 2px whitesmoke;
	color: ivory;
}

/* MODAL STYLING */

.footer-buttons,
.switch,
.play-button,
.reset-btn,
.modal-buttons,
.how-to-button {
	background-image: -o-linear-gradient(black, white);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(black),
		to(white)
	);
	background-image: linear-gradient(black, white);
}

.footer-buttons:hover,
.switch:hover,
.modal-buttons:hover,
.how-to-button:hover {
	background-image: -o-linear-gradient(white, black);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(white),
		to(black)
	);
	background-image: linear-gradient(white, black);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
	box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
}

/* STATS STYLING */
.sound-btn,
.reset-btn,
.play-button {
	background-image: -o-linear-gradient(white, black);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(white),
		to(black)
	);
	background-image: linear-gradient(white, black);
}

.sound-btn:hover,
.reset-btn:hover,
.play-button:hover {
	background-image: -o-linear-gradient(white, black);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(white),
		to(black)
	);
	background-image: linear-gradient(white, black);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
	box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
}
/* GAME BOARD STYLING */

.red-button {
	background-color: rgba(0, 0, 0, 100%);
	border-top-left-radius: 60%;
}
.green-button {
	background-color: rgba(0, 0, 0, 100%);
	border-top-right-radius: 60%;
}
.yellow-button {
	background-color: rgba(0, 0, 0, 100%);
	border-bottom-left-radius: 60%;
}
.blue-button {
	background-color: rgba(0, 0, 0, 100%);
	border-bottom-right-radius: 60%;
}

/* Adding glow effect to buttons to 'light up' */
/* https://superdevresources.com/css-button-glow-effect// */
.red-button-glow {
	background-color: rgba(255, 255, 255, 100%);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
	box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
}
.green-button-glow {
	background-color: rgba(255, 255, 255, 100%);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
	box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
}
.yellow-button-glow {
	background-color: rgba(255, 255, 255, 100%);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
	box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
}
.blue-button-glow {
	background-color: rgba(255, 255, 255, 100%);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
	box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
}
