/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	align-items: center;
	text-align: center;
	max-width: 1200px;
}
header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1,
h5 {
	text-align: center;
	font-family: "Righteous", cursive;
	letter-spacing: 0.5rem;
	font-size: 2.5rem;
	text-shadow: 2px 2px whitesmoke;
	-webkit-animation-name: text-animation;
	animation-name: text-animation;
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

h2 {
	font-size: 1.25rem;
	font-family: "Righteous", cursive;
	text-shadow: 2px 2px whitesmoke;
}

/* MODAL STYLING */
.how-to-modal,
.modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

.how-to-modal-textbox,
.modal-textbox {
	background-color: lightgrey;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2%;
	line-height: 1.4;
	font-family: "Righteous", cursive;
}

.how-to-modal-footer,
.modal-footer {
	text-align: right;
}

.sound-btn,
.footer-buttons,
.switch,
.play-button,
.reset-btn,
.modal-buttons,
.how-to-button {
	padding: 5px 10px;
	border: none;
	outline: none;
	border-radius: 3px;
	color: ivory;
	font-family: "Righteous", cursive;
	font-weight: bold;
	cursor: pointer;
	margin: 5px 5px 5px 5px;
}

.footer-container,
.button-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-around;
}

.footer-container {
	margin-right: 40px;
}

a {
	text-decoration: none;
	color: ivory;
}

ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
}
/* STATS STYLING */

.round-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-evenly;
	-ms-flex-line-pack: center;
	margin: 5px;
	color: ivory;
	font-family: "Righteous", cursive;
	width: 400px;
}

.player-turn {
	text-align: center;
	font-size: 1.5em;
	color: ivory;
	font-family: "Righteous", cursive;
}

.reset-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-around;
}

/* GAME BOARD STYLING */

.game-board {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	width: 300px;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.color-buttons {
	padding: 20%;
	background-size: contain;
	background-position: center;
	border: 2px solid black;
}

/* End of game styling */
.round-lost {
	padding-top: 1rem;
	padding-bottom: 2rem;
	position: absolute;
	background-color: black;
	border: 2px solid whitesmoke;
	display: none;
}

.game-over {
	position: absolute;
	background-color: black;
	border: 2px solid whitesmoke;
	z-index: 1;
	padding-top: 1rem;
	padding-bottom: 2rem;
	padding-left: 1rem;
}
