/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@-webkit-keyframes text-animation {
	0% {
		color: red;
	}
	35% {
		color: yellow;
	}
	65% {
		color: green;
	}
	100% {
		color: blue;
	}
}

@keyframes text-animation {
	0% {
		color: red;
	}
	35% {
		color: yellow;
	}
	65% {
		color: green;
	}
	100% {
		color: blue;
	}
}

body {
	background-color: black;
}

h2 {
	color: rgba(45, 255, 255, 100%);
}

/* MODAL STYLING */
.footer-buttons,
.switch,
.play-button,
.reset-btn,
.modal-buttons,
.how-to-button {
	background-image: -o-linear-gradient(blue, yellow);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(blue),
		to(yellow)
	);
	background-image: linear-gradient(blue, yellow);
}

.footer-buttons:hover,
.switch:hover,
.modal-buttons:hover,
.how-to-button:hover {
	background-image: -o-linear-gradient(red, green);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(red),
		to(green)
	);
	background-image: linear-gradient(red, green);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
	box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
}

/* STATS STYLING */

.reset-btn,
.play-button {
	background-image: -o-linear-gradient(red, green);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(red),
		to(green)
	);
	background-image: linear-gradient(red, green);
}

.reset-btn:hover,
.play-button:hover {
	background-image: -o-linear-gradient(blue, yellow);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(blue),
		to(yellow)
	);
	background-image: linear-gradient(blue, yellow);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
	box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
}
/* GAME BOARD STYLING */

.red-button {
	background-color: rgba(254, 25, 25, 0.7);
	border-top-left-radius: 60%;
}
.green-button {
	background-color: rgba(0, 191, 14, 0.7);
	border-top-right-radius: 60%;
}
.yellow-button {
	background-color: rgba(255, 250, 47, 0.5);
	border-bottom-left-radius: 60%;
}
.blue-button {
	background-color: rgba(0, 152, 255, 0.7);
	border-bottom-right-radius: 60%;
}

/* Adding glow effect to buttons to 'light up' */
/* https://superdevresources.com/css-button-glow-effect// */
.red-button-glow {
	background-color: rgba(254, 60, 0, 1.5);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(254, 25, 25, 0.8);
	box-shadow: 0px 10px 30px 0px rgba(254, 25, 25, 0.8);
}
.green-button-glow {
	background-color: rgba(0, 230, 14, 1.5);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(0, 191, 14, 0.8);
	box-shadow: 0px 10px 30px 0px rgba(0, 191, 14, 0.8);
}
.yellow-button-glow {
	background-color: rgba(255, 255, 90, 1.5);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(255, 250, 90, 0.8);
	box-shadow: 0px 10px 30px 0px rgba(255, 250, 90, 0.8);
}
.blue-button-glow {
	background-color: rgba(0, 200, 255, 1.5);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(0, 152, 255, 0.8);
	box-shadow: 0px 10px 30px 0px rgba(0, 152, 255, 0.8);
}
