/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@-webkit-keyframes text-animation {
	0% {
		color: red;
	}
	35% {
		color: yellow;
	}
	65% {
		color: green;
	}
	100% {
		color: blue;
	}
}

@keyframes text-animation {
	0% {
		color: red;
	}
	35% {
		color: yellow;
	}
	65% {
		color: green;
	}
	100% {
		color: blue;
	}
}

body {
	background-color: lightskyblue;
}

h2 {
	color: purple;
}

/* MODAL STYLING */
.footer-buttons,
.switch,
.play-button,
.reset-btn,
.modal-buttons,
.how-to-button {
	background-image: -o-linear-gradient(orange, purple);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(orange),
		to(purple)
	);
	background-image: linear-gradient(orange, purple);
}

.footer-buttons:hover,
.switch:hover,
.modal-buttons:hover,
.how-to-button:hover {
	background-image: -o-linear-gradient(pink, green);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(pink),
		to(green)
	);
	background-image: linear-gradient(pink, green);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
	box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
}
/* STATS STYLING */
.time-remaining {
	color: ivory;
	font-family: "Righteous", cursive;
	margin-top: 10px;
}

.time-remaining,
.reset-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-around;
}

.reset-btn,
.play-button {
	background-image: -o-linear-gradient(pink, green);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(pink),
		to(green)
	);
	background-image: linear-gradient(pink, green);
}

.reset-btn:hover,
.play-button:hover {
	background-image: -o-linear-gradient(orange, purple);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(orange),
		to(purple)
	);
	background-image: linear-gradient(orange, purple);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
	box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
}
/* GAME BOARD STYLING */

.red-button {
	background-color: rgba(254, 25, 25, 0.7);
	border-top-left-radius: 60%;
}
.green-button {
	background-color: rgba(0, 191, 14, 0.7);
	border-top-right-radius: 60%;
}
.yellow-button {
	background-color: rgba(255, 250, 47, 0.5);
	border-bottom-left-radius: 60%;
}
.blue-button {
	background-color: rgba(0, 152, 255, 0.7);
	border-bottom-right-radius: 60%;
}

/* Adding glow effect to buttons to 'light up' */
/* https://superdevresources.com/css-button-glow-effect// */
.red-button-glow {
	background-color: rgba(254, 60, 0, 1.5);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(254, 25, 25, 0.8);
	box-shadow: 0px 10px 30px 0px rgba(254, 25, 25, 0.8);
}
.green-button-glow {
	background-color: rgba(0, 230, 14, 1.5);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(0, 191, 14, 0.8);
	box-shadow: 0px 10px 30px 0px rgba(0, 191, 14, 0.8);
}
.yellow-button-glow {
	background-color: rgba(255, 255, 90, 1.5);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(255, 250, 90, 0.8);
	box-shadow: 0px 10px 30px 0px rgba(255, 250, 90, 0.8);
}
.blue-button-glow {
	background-color: rgba(0, 200, 255, 1.5);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(0, 152, 255, 0.8);
	box-shadow: 0px 10px 30px 0px rgba(0, 152, 255, 0.8);
}

/* End of game styling */
.times-up {
	padding-top: 1rem;
	padding-bottom: 2rem;
	position: absolute;
	background-color: black;
	border: 2px solid whitesmoke;
	display: none;
}

.times-over {
	position: absolute;
	background-color: black;
	border: 2px solid whitesmoke;
	z-index: 1;
	padding-top: 1rem;
	padding-bottom: 2rem;
}
