/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@-webkit-keyframes text-animation {
	0% {
		color: red;
	}
	35% {
		color: yellow;
	}
	65% {
		color: green;
	}
	100% {
		color: blue;
	}
}

@keyframes text-animation {
	0% {
		color: red;
	}
	35% {
		color: yellow;
	}
	65% {
		color: green;
	}
	100% {
		color: blue;
	}
}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	background-color: black;
	/* background-image: linear-gradient(black, white); */
}
header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
h1 {
	font-family: "Righteous", cursive;
	letter-spacing: 4rem;
	font-size: 5em;
	text-shadow: 5px 5px whitesmoke;
	-webkit-animation-name: text-animation;
	animation-name: text-animation;
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	margin-left: 4rem;
	margin-top: 0%;
}

h2 {
	font-size: 200%;
	font-family: "Righteous", cursive;
	text-shadow: 2px 2px whitesmoke;
	margin-top: -5%;
	color: rgba(45, 255, 255, 100%);
}

/* MODAL STYLING */
.how-to-modal,
.modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

.how-to-modal-textbox,
.modal-textbox {
	background-color: lightgrey;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2%;
	line-height: 1.4;
	font-family: "Righteous", cursive;
}

.how-to-modal-footer,
.modal-footer {
	text-align: right;
}

.play-button,
.reset-btn,
.modal-buttons,
.how-to-button {
	padding: 12px 18px;
	background-image: -o-linear-gradient(blue, yellow);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(blue),
		to(yellow)
	);
	background-image: linear-gradient(blue, yellow);
	border: none;
	outline: none;
	border-radius: 3px;
	color: ivory;
	font-family: "Righteous", cursive;
	font-weight: 900;
	cursor: pointer;
}

.modal-buttons:hover,
.how-to-button:hover {
	background-image: -o-linear-gradient(red, green);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(red),
		to(green)
	);
	background-image: linear-gradient(red, green);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
	box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
}

.button-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-around;
}

/* STATS STYLING */

.round-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-line-pack: center;
	align-content: center;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: -1rem;
	color: ivory;
	font-family: "Righteous", cursive;
}

.player-turn {
	font-size: 2.5em;
	padding-left: 70px;
}

.reset-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-around;
}

.reset-btn,
.play-button {
	background-image: -o-linear-gradient(red, green);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(red),
		to(green)
	);
	background-image: linear-gradient(red, green);
}

.reset-btn:hover,
.play-button:hover {
	background-image: -o-linear-gradient(blue, yellow);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(blue),
		to(yellow)
	);
	background-image: linear-gradient(blue, yellow);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
	box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 100%);
}
/* GAME BOARD STYLING */

.game-board {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	width: 50%;
	margin: auto;
	margin-top: 1rem;
}

.color-buttons {
	padding: 20%;
	background-size: contain;
	background-position: center;
	border: 2px solid black;
}

.red-button {
	background-color: rgba(254, 25, 25, 0.7);
	border-top-left-radius: 60%;
}
.green-button {
	background-color: rgba(0, 191, 14, 0.7);
	border-top-right-radius: 60%;
}
.yellow-button {
	background-color: rgba(255, 250, 47, 0.5);
	border-bottom-left-radius: 60%;
}
.blue-button {
	background-color: rgba(0, 152, 255, 0.7);
	border-bottom-right-radius: 60%;
}

/* Adding glow effect to buttons to 'light up' */
/* https://superdevresources.com/css-button-glow-effect// */
.red-button-glow {
	background-color: rgba(254, 60, 0, 1.5);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(254, 25, 25, 0.8);
	box-shadow: 0px 10px 30px 0px rgba(254, 25, 25, 0.8);
}
.green-button-glow {
	background-color: rgba(0, 230, 14, 1.5);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(0, 191, 14, 0.8);
	box-shadow: 0px 10px 30px 0px rgba(0, 191, 14, 0.8);
}
.yellow-button-glow {
	background-color: rgba(255, 255, 90, 1.5);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(255, 250, 90, 0.8);
	box-shadow: 0px 10px 30px 0px rgba(255, 250, 90, 0.8);
}
.blue-button-glow {
	background-color: rgba(0, 200, 255, 1.5);
	-webkit-box-shadow: 0px 10px 30px 0px rgba(0, 152, 255, 0.8);
	box-shadow: 0px 10px 30px 0px rgba(0, 152, 255, 0.8);
}
