* {
	box-sizing: border-box;
}

@keyframes text-animation {
	0% {
		color: red;
	}
	35% {
		color: yellow;
	}
	65% {
		color: green;
	}
	100% {
		color: blue;
	}
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-image: linear-gradient(black, white);
}
header {
	display: flex;
	flex-direction: column;
}
h1 {
	font-family: "Righteous", cursive;
	letter-spacing: 4rem;
	font-size: 5em;
	text-shadow: 5px 5px whitesmoke;
	animation-name: text-animation;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	margin-left: 4rem;
	margin-top: 0%;
}

h2 {
	font-size: 200%;
	font-family: "Righteous", cursive;
	text-shadow: 2px 2px whitesmoke;
	margin-top: -5%;
	color: rgba(45, 255, 255, 100%);
}

/* MODAL STYLING */
.how-to-modal,
.modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

.how-to-modal-textbox,
.modal-textbox {
	background-color: lightgrey;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2%;
	line-height: 120%;
	font-family: "Righteous", cursive;
}

.how-to-modal-footer,
.modal-footer {
	text-align: right;
}

.difficulty-button,
.high-score-button,
.modal-buttons,
.how-to-button {
	padding: 14px 18px;
	background-image: linear-gradient(blue, yellow);
	border: none;
	outline: none;
	border-radius: 3px;
	color: ivory;
	font-family: "Righteous", cursive;
	font-weight: 900;
	cursor: pointer;
}

.difficulty-button:hover,
.high-score-button:hover,
.modal-buttons:hover,
.how-to-button:hover {
	background-image: linear-gradient(red, green);
}

.button-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* STATS STYLING */

.round-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	margin: auto;
	margin-top: 3rem;
	color: ivory;
	font-family: "Righteous", cursive;
}

.player-turn {
	font-size: 3em;
}
/* GAME BOARD STYLING */

.game-board {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 60%;
	margin: auto;
	margin-top: 2rem;
}

.color-buttons {
	padding: 20%;
	background-size: contain;
	background-position: center;
	border: 2px solid black;
}

.red-button {
	background-color: rgba(254, 25, 25, 0.7);
	border-top-left-radius: 60%;
}
.green-button {
	background-color: rgba(0, 191, 14, 0.7);
	border-top-right-radius: 60%;
}
.yellow-button {
	background-color: rgba(255, 250, 47, 0.5);
	border-bottom-left-radius: 60%;
}
.blue-button {
	background-color: rgba(0, 152, 255, 0.7);
	border-bottom-right-radius: 60%;
}

#play-button {
	position: absolute;
	padding: 40px;
	border: none;
	outline: none;
	border-radius: 50%;
	font-family: "Righteous", cursive;
	font-size: 2rem;
	background-color: black;
	color: ivory;
}

#play-button:hover {
	color: black;
	background-color: white;
}

/* Adding glow effect to buttons to 'light up' */
/* https://superdevresources.com/css-button-glow-effect// */
.red-button-glow {
	background-color: rgba(254, 60, 0, 1.5);
	box-shadow: 0px 10px 30px 0px rgba(254, 25, 25, 0.8);
}
.green-button-glow {
	background-color: rgba(0, 230, 14, 1.5);
	box-shadow: 0px 10px 30px 0px rgba(0, 191, 14, 0.8);
}
.yellow-button-glow {
	background-color: rgba(255, 255, 90, 1.5);
	box-shadow: 0px 10px 30px 0px rgba(255, 250, 90, 0.8);
}
.blue-button-glow {
	background-color: rgba(0, 200, 255, 1.5);
	box-shadow: 0px 10px 30px 0px rgba(0, 152, 255, 0.8);
}

.red-button:hover {
	background-color: rgba(254, 60, 0, 1);
	box-shadow: 0px 10px 30px 0px rgba(254, 25, 25, 0.8);
}
.green-button:hover {
	background-color: rgba(0, 230, 14, 1);
	box-shadow: 0px 10px 30px 0px rgba(0, 191, 14, 0.8);
}
.yellow-button:hover {
	background-color: rgba(255, 255, 0, 1);
	box-shadow: 0px 10px 30px 0px rgba(255, 250, 90, 0.8);
}
.blue-button:hover {
	background-color: rgba(60, 255, 255, 1);
	box-shadow: 0px 10px 30px 0px rgba(0, 152, 255, 0.8);
}
