* {
	box-sizing: border-box;
}

@keyframes text-animation {
	0% {
		color: red;
	}
	35% {
		color: yellow;
	}
	65% {
		color: green;
	}
	100% {
		color: blue;
	}
}

body {
	background-image: linear-gradient(black, white);
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

h1 {
	font-family: "Righteous", cursive;
	letter-spacing: 4rem;
	font-size: 700%;
	text-shadow: 5px 5px whitesmoke;
	animation-name: text-animation;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	margin-left: 10%;
}

h2 {
	font-size: 200%;
	font-family: "Righteous", cursive;
	text-shadow: 2px 2px whitesmoke;
}

.button-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.play-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.how-to-modal,
.modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

.how-to-modal-textbox,
.modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2%;
	line-height: 120%;
	font-family: "Righteous", cursive;
}

.how-to-modal-footer,
.modal-footer {
	text-align: right;
}

.how-to-button {
	padding: 14px 18px;
	background-image: linear-gradient(blue, yellow);
	border: none;
	outline: none;
	border-radius: 3px;
	color: ivory;
	font-family: "Righteous", cursive;
	font-weight: 900;
	cursor: pointer;
}
.modal-buttons {
	padding: 14px 18px;
	background-image: linear-gradient(red, green);
	border: none;
	outline: none;
	border-radius: 3px;
	color: ivory;
	font-family: "Righteous", cursive;
	font-weight: 900;
	cursor: pointer;
}

.play-button {
	padding: 54px 58px;
	border: none;
	outline: none;
	border-radius: 50%;
	font-family: "Righteous", cursive;
	font-size: 200%;
}

.how-to-button:hover {
	background-image: linear-gradient(red, green);
}

.modal-buttons:hover {
	background-image: linear-gradient(blue, yellow);
}

.play-button:hover {
	background-color: palevioletred;
}
